
.header {
    .navbar {
        padding: 0;
    }

    &-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 41vh;
        width: 100%;
    }

    &-wrapper {
        //height: 250px;
        background: $header-logo;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;


        .separate {
            &-left {
                border-bottom: 3px solid $separate-border;
                flex: 0.35 1 0;

                .logo {
                    max-width: 120px;
                }

                .subtitle {
                    font-family: 'Nunito';
                    font-size: 20px;
                    text-align: center;
                    color: $header-color;
                }
            }

            @media (min-width: 576px) {
                &-left {
                    border-right: 3px solid $separate-border;
                    border-bottom: none;

                    .logo {
                        max-width: 200px;
                    }

                    .subtitle {
                        font-size: 24px;
                        line-height: 42px;
                        text-align: left;
                    }
                }
            }

            &-right {
                flex: 0.75 0 0;

                .title {
                    font-family: 'Nunito';
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 112px;
                    text-align: left;
                    color: $header-color;
                    margin: auto;
                    width: auto;
                }

                @media (min-width: 992px) {
                    .title {
                        width: 100%;
                        margin-left: 5%;
                    }
                }

                .navbar-toggler {
                    align-self: flex-end;
                    margin: auto;
                }

                .navbar-collapse {
                    align-items: flex-end;

                    .navbar-nav {
                        font-size: 18px;
                        flex: 1 1 auto;

                        .nav-item {
                            padding: 0 10px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }


    }
}

body {
    background: #000000;
}

.button {
    display: inline-block;
    margin: 0.3em;
    padding: 0.8em 1.3em;
    width: 10em;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1em;
}

.button-gold {
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow: 2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34);
    border: 1px solid #deca73;
    background: -moz-linear-gradient(
            -72deg,
            #ffde45,
            #ffffff 16%,
            #ffde45 21%,
            #ffffff 24%,
            #452100 27%,
            #ffde45 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffde45 72%,
            #ffffff 80%,
            #ffde45 84%,
            #452100
    );
    background: -webkit-linear-gradient(
            -72deg,
            #ffde45,
            #ffffff 16%,
            #ffde45 21%,
            #ffffff 24%,
            #452100 27%,
            #ffde45 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffde45 72%,
            #ffffff 80%,
            #ffde45 84%,
            #452100
    );
    background: -o-linear-gradient(
            -72deg,
            #ffde45,
            #ffffff 16%,
            #ffde45 21%,
            #ffffff 24%,
            #452100 27%,
            #ffde45 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffde45 72%,
            #ffffff 80%,
            #ffde45 84%,
            #452100
    );
    background: linear-gradient(
            -72deg,
            #ffde45,
            #ffffff 16%,
            #ffde45 21%,
            #ffffff 24%,
            #452100 27%,
            #ffde45 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffde45 72%,
            #ffffff 80%,
            #ffde45 84%,
            #452100
    );
}

.button-silver {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34);
    border: 1px solid #dedede;
    background: -moz-linear-gradient(
            -72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1
    );
    background: -webkit-linear-gradient(
            -72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1
    );
    background: -o-linear-gradient(
            -72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1
    );
    background: linear-gradient(
            -72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1
    );
}

.button-platinum {
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #cacade;
    background: -moz-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
    );
    background: -webkit-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
    );
    background: -o-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
    );
    background: linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
    );
}

.button-whitegold {
    color: rgba(82, 82, 34, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffdeca;
    box-shadow: 2px 2px 0.5em rgba(155, 122, 89, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #caa173;
    background: -moz-linear-gradient(
            -72deg,
            #ffdea1,
            #ffffff 16%,
            #ffdea1 21%,
            #ffffff 24%,
            #736445 27%,
            #ffdea1 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffdea1 72%,
            #ffffff 80%,
            #ffdea1 84%,
            #736445
    );
    background: -webkit-linear-gradient(
            -72deg,
            #ffdea1,
            #ffffff 16%,
            #ffdea1 21%,
            #ffffff 24%,
            #736445 27%,
            #ffdea1 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffdea1 72%,
            #ffffff 80%,
            #ffdea1 84%,
            #736445
    );
    background: -o-linear-gradient(
            -72deg,
            #ffdea1,
            #ffffff 16%,
            #ffdea1 21%,
            #ffffff 24%,
            #736445 27%,
            #ffdea1 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffdea1 72%,
            #ffffff 80%,
            #ffdea1 84%,
            #736445
    );
    background: linear-gradient(
            -72deg,
            #ffdea1,
            #ffffff 16%,
            #ffdea1 21%,
            #ffffff 24%,
            #736445 27%,
            #ffdea1 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffdea1 72%,
            #ffffff 80%,
            #ffdea1 84%,
            #736445
    );
}

.button-yellowgold {
    color: rgba(73, 45, 21, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow: 2px 2px 0.5em rgba(155, 122, 89, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #deca45;
    background: -moz-linear-gradient(
            -72deg,
            #ffc373,
            #ffffff 16%,
            #ffc373 21%,
            #ffffff 24%,
            #a17434 27%,
            #ffc373 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffc373 72%,
            #ffffff 80%,
            #ffc373 84%,
            #a17434
    );
    background: -webkit-linear-gradient(
            -72deg,
            #ffc373,
            #ffffff 16%,
            #ffc373 21%,
            #ffffff 24%,
            #a17434 27%,
            #ffc373 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffc373 72%,
            #ffffff 80%,
            #ffc373 84%,
            #a17434
    );
    background: -o-linear-gradient(
            -72deg,
            #ffc373,
            #ffffff 16%,
            #ffc373 21%,
            #ffffff 24%,
            #a17434 27%,
            #ffc373 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffc373 72%,
            #ffffff 80%,
            #ffc373 84%,
            #a17434
    );
    background: linear-gradient(
            -72deg,
            #ffc373,
            #ffffff 16%,
            #ffc373 21%,
            #ffffff 24%,
            #a17434 27%,
            #ffc373 36%,
            #ffffff 45%,
            #ffffff 60%,
            #ffc373 72%,
            #ffffff 80%,
            #ffc373 84%,
            #a17434
    );
}


.service {
    &-gold,
    &-platinum,
    &-silver {
        max-width: 350px;
    }
}
