#app {
    color: $dark-color;
    background-color: $light-color;

    body.dark & {
        color: $light-color;
        background-color: $dark-color;
    }

    .header {
        .navbar {
            @extend .navbar-light;
            padding: 0;

            body.dark & {
                @extend .navbar-dark;
            }
        }

        &-image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 41vh;
            width: 100%;
        }

        .holder {
            background: $header-light;

            body.dark & {
                background: $header-dark;
            }
        }

        &-wrapper {
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

            .separate {
                &-left {
                    border-bottom: 3px solid $separate-border;
                    flex: 0.35 1 0;

                    .logo {
                        max-width: 120px;

                        &.dark {
                            display: none;
                        }

                        body.dark & {
                            display: none;

                            &.dark {
                                display: inline-block;
                            }
                        }
                    }

                    .subtitle {
                        font-family: $font-family-sans-serif-nunito;
                        font-size: 20px;
                        text-align: center;
                        color: $dark-color;

                        body.dark & {
                            color: $light-color;
                        }
                    }
                }

                @media (min-width: 576px) {
                    &-left {
                        border-right: 3px solid $separate-border;
                        border-bottom: none;

                        .logo {
                            max-width: 200px;
                        }

                        .subtitle {
                            font-size: 24px;
                            line-height: 42px;
                            text-align: left;
                        }
                    }
                }

                &-right {
                    flex: 0.75 0 0;

                    .title {
                        font-family: $font-family-sans-serif-nunito;
                        font-weight: bold;
                        font-size: 48px;
                        text-align: left;
                        color: $dark-color;
                        margin: auto;
                        width: auto;
                        line-height: 1;

                        body.dark & {
                            color: $light-color;
                        }
                    }

                    @media (min-width: 992px) {
                        .title {
                            width: 100%;
                            margin-left: 5%;
                        }
                    }

                    .navbar-toggler {
                        align-self: flex-end;
                        margin: auto;
                        color: $dark-color;
                        border-color: $dark-color;

                        body.dark & {
                            color: $light-color;
                            border-color: $light-color;
                        }
                    }

                    .navbar-collapse {
                        align-items: flex-end;

                        .navbar-nav {
                            font-size: 18px;
                            flex: 1 1 auto;

                            .nav-item {
                                padding: 0 10px;
                                margin: 0 auto;

                                .nav-link {
                                    color: $dark-color;

                                    body.dark & {
                                        color: $light-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        body.dark & {
            @extend .bg-secondary;
            @extend .text-dark;

            a {
                @extend .text-dark;
            }
        }

        @extend .bg-dark;
        @extend .text-white;

        a {
            @extend .text-white;

            &:hover, &:active, &:focus {
                &.social {
                    //stroke: currentColor;
                    transform: scale(1.2);
                    transition: all .45s;

                    .icon {
                        &--facebook {
                            fill: #16a4fb;
                            transition: all .45s;
                        }

                        &--instagram {
                            fill: url(#simpleInsta) !important;
                            transition: all .45s;
                        }

                        &--youtube {
                            fill: #ff0000;
                            transition: all .45s;
                        }
                    }
                }
            }

        }


    }
}

