// Body
$body-bg: #f8fafc;

$light-color: #eeeedd;
$dark-color: #333333;

$light-service:#f8fafc;
$dark-service:#00000F;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;

$light-switch: #eeeedd;
$dark-switch: #333333;

$footer-light: #555555;
$footer-dark: #999999;

$header-light: rgba(250, 250, 250, 0.5);
$header-dark: rgba(0, 0, 0, 0.5);
$separate-border: #FF0303;


$silver:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
$golden:linear-gradient( to bottom, #c39738, #deb761, #c39738);
$platinum:linear-gradient( to bottom, #d5d7e5, #eee, #d5d7e5);
