
.featured {

    .infinite {
        width: 100%;
        height: 160px;
        background: #525252;
        transform-origin: bottom;
        transform-style: preserve-3d;
        transform: perspective(500px) rotateX(30deg);

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: 10px;
            background: linear-gradient(90deg, #fff 0%, #fff 70%, #525252 70%, #525252 100%);
            background-size: 120px;
            animation: animate 0.5s linear infinite;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 30px;
            background: #333;
            bottom: -30px;
            transform-origin: top;
            background-size: 120px;
            transform: perspective(500px) rotateX(-25deg);
        }

        .shadow {
            position: absolute;
            bottom: -93px;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            height: 60px;
            background: linear-gradient(#000, transparent);
            opacity: 0.5;
        }
    }

    &-container {
        overflow: hidden;

        .VueCarousel-wrapper {
            overflow: visible !important;
            margin-top: -165px;

            .box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
                will-change: transform;

                button {
                    cursor: pointer;
                    outline: 0;
                    width: 180px;
                    height: 48px;
                    border-radius: 8px;
                    margin-top: 40px;
                    overflow: hidden;
                    -webkit-transform: scale(.7);
                    transform: scale(.7);

                    //&:after {
                    //    content: "";
                    //    position: relative;
                    //    top: -40px;
                    //    display: block;
                    //    width: 48px;
                    //    height: 107%;
                    //    background-color: #000;
                    //    margin-top: -1px;
                    //    margin-left: -7px;
                    //    border-radius: 6px 0 0 6px;
                    //    background-repeat: no-repeat;
                    //    background-position: center;
                    //}
                    //
                    //&:before {
                    //    content: "";
                    //    display: block;
                    //    width: 48px;
                    //    height: 46px;
                    //    margin-left: -7px;
                    //    margin-top: -1px;
                    //    -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
                    //    transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
                    //}
                }

                .cover {
                    -webkit-transition: all 400ms ease-in-out;
                    transition: all 400ms ease-in-out;
                    will-change: transform;

                    &:after {
                        content: "";
                        z-index: -99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 160px;
                        height: 214px;
                        opacity: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 160px 160px;
                        -webkit-filter: blur(10px);
                        filter: blur(10px);
                        -webkit-transition: all 260ms ease-in-out;
                        transition: all 260ms ease-in-out;
                        will-change: transform;
                        -webkit-transform: scale(.6);
                        transform: scale(.6);
                    }

                    img {
                        -webkit-transition: all 260ms ease-in-out;
                        transition: all 260ms ease-in-out;
                    }
                }

                &:hover {
                    //button:before {
                    //    width: 120%;
                    //    opacity: .8;
                    //    background-color: #FF6500;
                    //}

                    .cover {
                        -webkit-transform: translateY(-15px) scale(1.4);
                        transform: translateY(-15px) scale(1.4);

                        img {

                            transform: translateY(-15px) rotate(-15deg);
                        }

                        &:after {
                            opacity: .7;
                            -webkit-transform: scale(1.4);
                            transform: scale(1.4);
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png');
                        }
                    }
                }
            }

            img {
                width: 160px;
            }

        }
    }
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -120px;
    }
}


.border-animation {
    --border-width: 0.1em;
    --animation-speed: 0.5s;
    --color: #ffffff;
    color: var(--color);
    position: relative;
    display: inline-block;
    font-size: 4em;
    line-height: 1em;
    transform: scale(1, 0.8);
    border: var(--border-width) solid transparent;

    .border-animation__inner {
        position: relative;
        display: inline-block;
        width: 100%;
        font-family: 'Six Caps', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        cursor: pointer;
        padding: 0.2em;
        // background: rgba(50, 50, 50, 0.5);
        background: #333;
        z-index: 1;
        border: solid var(--border-width) transparent;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        background: var(--color);
    }

    &:focus:before,
    &:hover:before {
        animation: beforeBorders var(--animation-speed) forwards ease-in-out;
    }

    &:focus:after,
    &:hover:after {
        animation: afterBorders var(--animation-speed) forwards ease-in-out;
    }

    &:focus,
    &:hover {
        animation: borderColors var(--animation-speed) steps(1) forwards;
        outline: none;

        .border-animation__inner {
            animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
            animation-delay: calc(var(--animation-speed) / 5 * 2);
        }
    }
}

@keyframes beforeBorders {
    0% {
        top: calc(var(--border-width) * -1);
        left: 50%;
        bottom: auto;
        right: auto;
        width: 0;
        height: var(--border-width);
    }
    33% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        top: auto;
        left: calc(var(--border-width) * -1);
        bottom: calc(var(--border-width) * -1);
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes afterBorders {
    0% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: 50%;
        width: 0;
        height: var(--border-width);
    }
    33% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        top: auto;
        left: auto;
        bottom: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes borderColors {
    0% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    33% {
        border-top-color: var(--color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;

    }
    66% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: transparent;
        border-left-color: var(--color);
    }
    100% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: var(--color);
        border-left-color: var(--color);
    }
}

@keyframes background {
    to {
        background: #555;
        text-shadow: 0 0.1em 0.1em #111;
    }
}

@media (min-width: 850px) {
    body {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .border-animation {
        font-size: 6em;
        line-height: 1em;
    }
}
